/* Base styling */
body {
  margin: 0;
  padding: 0;
  background-color: #fffaf0; /* Soft background */
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

#stage, #opened, #letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.hidden {
  display: none;
}

img {
  max-width: 90vw;
  max-height: 90vh;
}

.clickable {
  cursor: pointer;
}
